.name {
  text-align: center;
}

.classes_taken {
  height: 40%;
  overflow: scroll;
}

.class_picker {
  height: 40%;
  overflow: scroll;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

/* Class Display */
div.class_display {
  margin: 15px;
  text-align: left;
}
div.class_name {
  font-size: 20pt;
  font-weight: bold;
  padding-bottom: 10px;
}

.btn {
  cursor: pointer;
  text-align: center;
  margin: 0;
  display: inline-block;
  width: 100%;
}

.btn:hover {
  background-color: #555;
}

.rect {
  display: block;
  background-color : #36382f;
  color : #fff;
  width: 40%;
  margin: 10px 30%;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 15pt;
}

div#add {
  display: none;
  margin: 0;
  margin-top: 15px;
  float: left;
}

